* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

#categories {
  width: 440px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.item {
  width: 392px;
  background-color: rgba(246, 246, 254, 1);
  border-radius: 8px;
  padding: 16px;
}

.item:not(:last-child) {
  margin-bottom: 24px;
}

.item-title {
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 4%;
  margin-bottom: 16px;
}

.elements {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4%;
}

.elements li {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px rgba(128, 128, 128, 1) solid;
  padding-left: 16px;
  align-content: center;
}

.elements li:not(:last-child) {
  margin-bottom: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
}
.gallery-image {
  width: 360px;
  height: 300px;
  display: block;
  object-fit: cover;
}

#name-input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px rgba(128, 128, 128, 1) solid;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  margin-bottom: 16px;
  font-family: inherit;
}

#name-input:hover,
.form-input:hover {
  border: 1px black solid;
}

.output,
#name-output {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.login-form {
  width: 360px;
}

.form-label {
  color: rgba(46, 47, 66, 1);
  display: block;
}

.form-label.email {
  margin-bottom: 8px;
}

.form-label.password {
  margin-bottom: 16px;
}

.form-input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px rgba(128, 128, 128, 1) solid;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: inherit;
}

.form-btn {
  background-color: rgba(78, 117, 255, 1);
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: inherit;
  width: 86px;
  height: 40px;
  border-radius: 8px;
  border: none;
}

.form-btn:hover {
  background-color: rgba(108, 140, 255, 1);
  cursor: pointer;
}

.widget {
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}
.change-color {
  width: 148px;
  height: 40px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: rgba(78, 117, 255, 1);
  color: white;
  margin-top: 16px;
}

#controls {
  width: 486px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#controls > input {
  width: 150px;
  height: 40px;
  border: 1px rgba(128, 128, 128, 1) solid;
  border-radius: 8px;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 16px;
}

#controls > button {
  width: 120px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
}

.create {
  background-color: rgba(78, 117, 255, 1);
  margin-right: 16px;
}
.destroy {
  background-color: rgba(255, 78, 78, 1);
}

.destroy:hover {
  background-color: rgba(255, 112, 112, 1);
}

#boxes {
  margin-top: 44px;
  display: flex;
  flex-direction: row;
  gap: 44px;
  flex-wrap: wrap;
}
